<div class="wrapper valign-center" id="page">
  <div class="page-inner">
    <h2 class="page-title ta-center">{{ page.title }}</h2>
    <div class="page-content">{{ page.content }}</div>
  </div>
</div>
